extends layout

block content
  .container(style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: calc(100vh - 60px);")
    form.pure-form.pure-form-stacked(action="/login", method="post")
      fieldset
        div(style="text-align: left; margin-bottom: 20px;")
          h2 Login

        if error
          p.error= error

        label(for="email") Email:
        input(type="email", id="email", name="email", required style="width: 100%")

        label(for="senha") Senha:
        input(type="password", id="senha", name="senha", required style="width: 100%")

        button.pure-button.pure-button-primary(type="submit" style="width: 100%; border-radius: 7px;") Entrar
