extends layout

block content
  .container(style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; min-height: calc(100vh - 60px);")
    div(style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); padding: 20px; border-radius: 8px;")
      form.pure-form.pure-form-stacked(action="/login", method="post")
        fieldset
          div(style="text-align: left; margin-bottom: 20px;")
            h2 Login

          if error
            p.error= error

          label(for="email") Email:
          input(type="email", id="email", name="email", required style="width: 100%")

          label(for="senha") Senha:
          input(type="password", id="senha", name="senha", required style="width: 100%")

          a(href="/esqueceu-a-senha", style="text-align: left; display: block; margin-bottom: 20px; margin-top: 20px; color: primary; text-decoration: none;") Esqueceu a senha?

          button.pure-button.pure-button-primary(type="submit" style="width: 100%; border-radius:20px; margin-bottom: 10px;") Entrar

          a(href="javascript:void(0)", onclick="signInWithGoogle()", class="google-button pure-button", style="background-color: #ffffff; color: #000000; border-radius: 20px; width: 100%; border: 1px solid #000000; display: flex; align-items: center; justify-content: center; text-decoration: none; padding: 10px;") 
            i.fab.fa-google(style="margin-right: 10px;")
            | Entrar com Google

          a(href="/cadastro", class="pure-button", style="background-color: #ffffff; color: #000000; border-radius: 20px; width: 100%; border: 1px solid #000000; display: flex; align-items: center; justify-content: center; text-decoration: none; padding: 10px; margin-top:10px;") Cadastre-se

  script.
    function signInWithGoogle() {
        const provider = new firebase.auth.GoogleAuthProvider();
        firebase.auth().signInWithPopup(provider)
            .then((result) => {
                // Handle successful sign-in
                console.log('Successfully signed in with Google:', result.user);
                // You can redirect the user to another page or perform additional actions here
            })
            .catch((error) => {
                // Handle errors
                console.error('Error signing in with Google:', error);
                // You can display an error message to the user or perform other error handling here
            });
    }
