extends layout

block content
  .container(style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; min-height: calc(100vh - 60px);")
    div(style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); padding: 20px; border-radius: 8px;")
      form.pure-form.pure-form-stacked(action="/login", method="post")
        fieldset
          div(style="text-align: left; margin-bottom: 20px;")
            h2 Login

          if error
            p.error= error

          label(for="email") Email:
          input(type="email", id="email", name="email", required style="width: 100%")

          label(for="senha") Senha:
          input(type="password", id="senha", name="senha", required style="width: 100%")

          button.pure-button.pure-button-primary(type="submit" style="width: 100%; border-radius:20px; margin-bottom: 10px; margin-top:10px") Entrar
          a(href="/auth/google", class="google-button pure-button", style="background-color: #ffffff; color: #000000; border-radius: 20px; width: 100%; border: 2px solid #000000; display: flex; align-items: center; justify-content: center; text-decoration: none; padding: 10px;") 
            i.fab.fa-google(style="margin-right: 10px;")
            | Sign in with Google

